schemes/ten_y_t5_maj3_k3_ic_static_v1/delivery/ten_y_t5_maj3_k3_ic_static_v1.py whitespace=cr-at-eol
schemes/ten_y_t5_maj3_k3_ic_static_v1/delivery/ten_y_t5_maj3_k3_ic_static_v1.json whitespace=cr-at-eol
schemes/ten_y_t5_maj4_k3_ic_static_v1/delivery/ten_y_t5_maj4_k3_ic_static_v1.py whitespace=cr-at-eol
schemes/ten_y_t5_maj4_k3_ic_static_v1/delivery/ten_y_t5_maj4_k3_ic_static_v1.json whitespace=cr-at-eol
schemes/ten_y_t5_maj4_k3_ic_yearly_v1/delivery/ten_y_t5_maj4_k3_ic_yearly_v1.py whitespace=cr-at-eol
schemes/ten_y_t5_maj4_k3_ic_yearly_v1/delivery/ten_y_t5_maj4_k3_ic_yearly_v1.json whitespace=cr-at-eol
schemes/ten_y_t5_say_k5_sharpe_static_v1/delivery/ten_y_t5_say_k5_sharpe_static_v1.py whitespace=cr-at-eol
schemes/ten_y_t5_say_k5_sharpe_static_v1/delivery/ten_y_t5_say_k5_sharpe_static_v1.json whitespace=cr-at-eol
CLAUDE.md export-ignore
