<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bondprojectpro.backend</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/java</string>
    <string>-Djava.io.tmpdir=/Users/macstudio0/bondprojectpro/app/tomcatTemp</string>
    <string>-jar</string>
    <string>/Users/macstudio0/bondprojectpro/app/bond_server/jeecg-system-start-3.8.2.jar</string>
    <string>--spring.config.additional-location=file:/Users/macstudio0/bondprojectpro/app/bond_server/config/</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>

  <key>WorkingDirectory</key>
  <string>/Users/macstudio0/bondprojectpro/app/bond_server</string>

  <key>StandardOutPath</key>
  <string>/Users/macstudio0/bondprojectpro/app/bond_server/logs/launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/macstudio0/bondprojectpro/app/bond_server/logs/launchd.err</string>
</dict>
</plist>
